@model Library.Models.Author

<h4>Add a new Author</h4>

@using (Html.BeginForm())
{
    <label for="AuthorName">Author Name:</label>
    @Html.TextBoxFor(model => model.AuthorName)

    <label for="AuthorBio">Author Bio:</label>
    @Html.TextBoxFor(model => model.AuthorBio)

    <label for="AuthorGenre">Author Genre:</label>
    @Html.TextBoxFor(model => model.AuthorGenre)

    <input type="submit" value="Add new author" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all authors", "Index")</p>